.testimonial-slider-container {
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.testimonial-slider-container h2 {
  color: #214842;
  margin-bottom: 20px;
  font-family: NunitoSans, sans-serif;
  font-size: 36px;
}

.testimonial-slider-container p {
  font-family: NunitoSans, sans-serif;
  color: gray;
  font-size: 20px;
  margin-bottom: 30px;
}
.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center; /* This ensures cards are vertically centered */
  height: auto; /* Ensure the height adjusts based on content */
  padding: 20px 0px; /* Add padding to avoid content touching edges */
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  max-width: 80%;
  background-color: #fff;
  border-radius: 24px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  min-height: 350px; /* Adjust the min-height to prevent cutting */
  height: auto; /* Ensure the height grows based on content */
  margin-bottom: 20px;
}

.testimonial-image-container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.testimonial-image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.testimonial-review {
  line-height: 1.2;
  font-family: Montserrat, sans-serif;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* Limit to 5 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 30px;
  color: #214842;
  max-width: 90%; /* Adjust the width to make the paragraph narrower */
  margin-left: auto;
  margin-right: auto; /* Center the paragraph */
}
.testimonial-name {
  text-align: center;
  font-size: 17px;
  font-family: Montserrat, sans-serif;
  margin: 30px 0px;
}

/* Other existing styles */

/* Custom Dots */
.slick-dots.custom-dots li {
  width: 20px;
  margin: 0 5px;
}

.slick-dots.custom-dots li button {
  padding: 0;
  border: none;
}

.slick-dots.custom-dots li button:before {
  content: "";
}

.slick-dots.custom-dots li .custom-dot {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray; /* Default inactive state */
  border-radius: 50%;
  width: 12px;
  height: 12px;
  color: white;
  font-size: 12px;
  cursor: pointer;
}

.slick-dots.custom-dots li.slick-active .custom-dot {
  background-color: #258f67; /* Active state color (green) */
}

.custom-dot span {
  display: inline-block;
  font-size: 10px;
}
